{% if not logged_in or show_after_login %}

    <a href="#" data-ae-return="{{ return }}" data-ae-{{ type }}-link="{{ service }}">{{ text }}</a>

{% else %}

    <a href="#" data-ae-logout-link="true" class="btn btn-danger">LOGOUT</a>

{% endif %}
